{% extends "base.html" %}

{% block content %}
<h1>Contact Info</h1>

<p><a href="{% url 'list_contacts' %}">Return to List of Contacts</a></p>

<div class="flex flex-wrap">
<div class="w-33 pa3">
<h2>{{ contact.name }}</h2>

{% if contact.birthday %}
<div class="flex">
    <div class="pr2"><i class="icofont-birthday-cake"></i></div>
    <div>{{ contact.birthday }}</div>
</div>
{% endif %}

<div class="flex">
    <div class="pr2"><i class="icofont-location-pin"></i></div>
    <div>
    {{ contact.address_1 }}<br />
    {% if contact.address_2 %}
        {{ contact.address_2 }}<br />
    {% endif %}
    {{ contact.city }}, {{ contact.state }} {{ contact.zip_code }}
    </div>
</div>

{% if contact.phone_number %}
<div class="flex">
    <div class="pr2"><i class="icofont-phone"></i></div>
    <div>{{ contact.phone_number }}</div>
</div>
{% endif %}

{% if contact.email %}
<div class="flex">
    <div class="pr2"><i class="icofont-ui-email"></i></div>
    <div>{{ contact.email }}</div>
</div>
{% endif %}

<p>
    <a href="{% url 'edit_contact' pk=contact.pk %}">Edit Contact</a><br>    
    <a class="red" href="{% url 'delete_contact' pk=contact.pk %}">Delete Contact</a>
</p>

<h3>Add Note</h3>
<div>
    <form action="{% url 'add_note' contact_pk=contact.pk %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
        <button type="submit">Add Note</button>
    </div>
    </form>
</div>
{% if contact.notes %}
<h3>All Notes for {{ contact.name }}</h3>
{% for note in contact.notes.all %}
<div>
<hr>
<p><strong>{{ note.title }}</strong></p>
    <p>{{ note.text }}</p>
    <p><small><i>Date created: {{ note.created }}</i></small></text></p>
</div>
{% endfor %}
{% endif %}

</div>
{% endblock %}
</div>
